/************************************************************************************
MEDIA QUERIES
*************************************************************************************/

@media screen and (max-width: 1150px) {
	/* reset grid to percentage */
	.col4-1,
	.col4-2,
	.col4-3,
	.col3-1,
	.col3-2,
	.col2-1
	{
		margin-left: 2%;
	}
	.col4-1 {
		max-width: 23%;
	}
	.col4-2, .col2-1 {
		max-width: 48%;
	}
	.col4-3 {
		max-width: 72%;
	}
	.col3-1 {
		max-width: 31%;
	}
	.col3-2 {
		max-width: 62%;
	}
	/* #body */
	#body {
		padding-left: 3.35%;
		padding-right: 3.35%;
	}
	#header{
		margin-left:3.35%;
		margin-right:3.35%;
	}
	/* post layouts */
	.loops-wrapper.grid4 .post {
		width: 23.125%;
		margin-left: 2.5%;
	}
	.loops-wrapper.grid3 .post {
		width: 31%;
		margin-left: 3.5%;
	}
	.loops-wrapper.grid2 .post {
		width: 48%;
		margin-left: 3.75%;
	}
	.loops-wrapper.list-large-image .post-image {
		float: none;
		margin: 0;
	}
}

@media screen and (max-width: 780px) {
	#header {
		height: auto !important;
		margin-left:3.35%;
		margin-right:3.35%;
	}
	#site-logo {
		position: static !important;
		margin: 15px 90px 5px 0;
		padding: 0;
	}
	#site-description {
		position: static !important;
		padding: 0 0 5px;
		margin: 0;
	}
	.social-widget {
		position: static !important;
		padding: 0 0 40px;
		z-index: 1;
	}
	.header-widget {
		position: static !important;
		margin: 0 0 15px;
		clear: both;
		float: none;
	}
	#main-nav {
		position: static !important;
		clear: both;
		z-index: 100;
	}
	#header #searchform {
		position: absolute;
		top: 8px;
		max-height: 50px;
	}
	#header #searchform #s {
		width: 80px;
	}
	#content {
		width: 100%;
		float: none;
		clear: both;
	}
	/* grid2-thumb post */
	.loops-wrapper.grid2-thumb .post,
	.sidebar1 .loops-wrapper.grid2-thumb .post {
		width: 100%;
		margin-left: 0;
		float: none;
	}
	/* grid4-post */
	.loops-wrapper.grid4 .post,
	.sidebar1 .loops-wrapper.grid4 .post {
		width: 100%;
		margin-left: 0;
		float: none;
	}
	.loops-wrapper.grid4 .post-image {
		float: left;
		margin: 0 20px 10px 0;
		max-width: 30%;
	}
	/* list thumb image */
	.loops-wrapper.list-thumb-image .post-image {
		max-width: 30%;
	}
	/* sidebar */
	#sidebar {
		float: none;
		clear: both;
		width: 100%;
		margin: 0;
	}
}

@media screen and (max-width: 600px) {

	/************************************************************************************
	GRID
	*************************************************************************************/
	.col4-1,
	.col4-2,
	.col4-3,
	.col3-1,
	.col3-2,
	.col2-1 {
		margin-left: 0;
	}
	.col4-1,
	.col4-2, .col2-1,
	.col4-3,
	.col3-1,
	.col3-2	 {
		width: 100%;
		max-width: 100%;
	}
	.col4-1,
	.col4-2, .col2-1,
	.col4-3,
	.col3-1,
	.col3-2	 {
		margin-left: 0 !important;
		width: 100% !important;
		max-width: 100% !important;
	}

	/* grid3 */
	.loops-wrapper.grid3 .post,
	.sidebar1 .loops-wrapper.grid3 .post {
		width: 100%;
		margin-left: 0;
		float: none;
	}
	.loops-wrapper.grid3 .post-image {
		float: left;
		margin: 0 20px 10px 0;
		max-width: 40%;
	}
	/* slider */
	.slide-content-wrap {
		font-size: 80%;
		line-height: 120%;
	}
	/* footer columns */
	#footer .col4, #footer .col3, #footer .col2 {
		width: 100%;
		float: none;
		margin: 0;
	}
}

@media screen and (max-width: 480px) {

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}

	/************************************************************************************
	GRID
	*************************************************************************************/
	.col4-1,
	.col4-2, .col2-1,
	.col4-3,
	.col3-1,
	.col3-2	 {
		margin-left: 0 !important;
		width: 100% !important;
		max-width: 100% !important;
	}

	/************************************************************************************
	HEADER
	*************************************************************************************/
	/* site logo */
	#site-logo {
		font-size: 48px;
		text-align: left;
		width: auto;
	}
	
	/* site description */
	#site-description {
		text-align: left;
		margin: 0 0 10px;
	}
		
	/* social widget */
	.social-widget {
		position: static;
		float: none;
		padding: 0;
		overflow: hidden;
		margin-bottom: 10px;
	}

	/************************************************************************************
	MOBILE NAV BUTTON
	*************************************************************************************/
	.mobile-button {
		position: relative;
		width: 32px;
		height: 30px;
		margin-bottom: 3px;
		margin-right: 3px;
		display: block;
		float: right;
		cursor: pointer;
	}
	.mobile-button:after {
		border: solid 1px #7a7a7a;
		padding: 1px;
		padding:0 \0; /* IE8 fix */
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: -1px;
		left: -1px;
		z-index: -1;
		background-color: #c3c3c3;
		background-color: transparent \0; /* IE8 fix */

		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjM1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.35) 0%, rgba(0,0,0,0.1) 100%);
		background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.35) 0%,rgba(0,0,0,0.1) 100%);
		background-image: linear-gradient(to bottom,  rgba(255,255,255,0.35) 0%,rgba(0,0,0,0.1) 100%);
		
		box-shadow: inset 0 0 1px rgba(255,255,255,.4), inset 0 1px rgba(255,255,255,.5), 0 1px 2px rgba(0,0,0,.2);
		border-radius: 5px;
	}

	/************************************************************************************
	MAIN NAV (MOBILE)
	*************************************************************************************/
	#main-nav-wrap {
		position: absolute;
		top: 5px;
		right: 0;
		z-index: 1000;
	}
	
	/* menu icon */
	#menu-icon {
		background: url(images/menu-icon.png) no-repeat center center;
		background-color:#c3c3c3 \9 !important; /* IE fix */
	}
	
	/* main nav */
	#main-nav {
		clear: both;
		position: static !important;
		width: 160px;
		z-index: 1000;
		padding: 10px 5px;
		background: #fff !important;
		border: solid 1px #999 !important;
		display: none; /* visibility will be toggled with jquery */
		box-shadow: 1px 2px 0 rgba(0,0,0,.2);
		border-radius: 5px;
	}
	#main-nav li {
		clear: both;
		float: none;
		margin: 5px 0 5px 10px !important;
		padding: 0 !important;
		border: none !important;
		box-shadow: none !important;
	}
	#main-nav a, 
	#main-nav ul a {
		font: inherit !important;
		text-transform: inherit !important;
		background: none !important;
		width: auto !important;
		display: inline !important;
		padding: 0 !important;
		color: #666 !important;
		border: none !important;
		text-shadow: none !important;
		box-shadow: none !important;
	}
	#main-nav a:hover, 
	#main-nav ul a:hover {
		background: none !important;
		color: #000 !important;
	}
	
	/* dropdown */
	#main-nav ul {
		position: static;
		display: block;
		margin: 0;
		padding: 0;
		background: none;
		border: none;
		border-radius: 0;
		box-shadow: none;
	}
	
	/************************************************************************************
	SEARCH FORM
	*************************************************************************************/
	#searchform-wrap {
		position: absolute;
		top: 5px;
		right: 40px;
		z-index: 1000;
	}
	#search-icon {
		background: url(images/search-icon.png) no-repeat center center;
		background-color:#c3c3c3 \9 !important; /* IE fix */
	}
	
	#header #searchform {
		clear: both;
		width: auto;
		width: 126px \0;
		position: static;
		overflow: hidden;
		background: #fff;
		border: solid 1px #999;
		padding: 5px;
		display: none; /* visibility will be toggled with jquery */
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	#header #searchform #s {
		background: #ddd !important;
		color: #444 !important;
		padding-left: 8px;
		width: 112px \0;
	}

	/************************************************************************************
	POST
	*************************************************************************************/
	/* post */
	.post {
		width: auto !important;
		max-width: 100% !important;
		margin-left: 0 !important;
		float: none !important;
	}
	
	/* post title */
	.post-title {
		margin: 0 0 2px !important;
		font-size: 2em !important;
	}

	/* post image */
	.post-image {
		float: none !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	/* post content */
	.post-content {
		overflow: visible !important;
		float: none !important;
	}

	/************************************************************************************
	POST NAV
	*************************************************************************************/
	.post-nav .prev, .post-nav .next {
		display: block;
		width: 100%;
		clear: both;
		margin-bottom: 10px;
	}
	
	/************************************************************************************
	COMMENTS
	*************************************************************************************/
	.commentlist {
		padding-left: 0;
	}
	.commentlist .commententry {
		clear: left;
	}
	.commentlist .avatar {
		float: left;
		width: 40px;
		height: 40px;
		margin: 0 10px 10px 0;
	}

	/************************************************************************************
	FOOTER
	*************************************************************************************/
	#footer-logo {
		position: static;
	}
	.footer-nav {
		padding: 0;
	}
	
	/************************************************************************************
	WOOCOMMERCE SUPPORT
	*************************************************************************************/
	.woocommerce #content div.product div.images,
	.woocommerce #content div.product div.summary {
		float: none !important;
		width: 100% !important;
	}

}

@media screen and (min-width: 481px) {

	/* ensure #nav and #searchform is visible on desktop version */
	#main-nav,
	#headerwrap #searchform {
		display: block !important;
	}

}