/*  
Skin Name: Minimal
Version: 1.0
Description: Skin for Funki
*/

body {
	background-color: #eee;
	background-image: none;
	color: #777;
}
a {
	color: #000;
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#bgwrap {
	background-image: none;
}

/************************************************************************************
SLIDER
*************************************************************************************/
.slider-nav a {
	background-color: #333;
}

/************************************************************************************
CONTENT
*************************************************************************************/
/* post title */
.post-title a:hover {
	color: #000;
}

/* more link */
.more-link {
	background-color: #333;
}
.more-link:hover {
	background-color: #000;
}

/************************************************************************************
COMMENTS
*************************************************************************************/
.commentlist .comment-reply-link:hover {
	background-color: #000;
}

/************************************************************************************
POST NAVIGATION
*************************************************************************************/
.post-nav .prev span, .post-nav .next span {
	background-color: #000;
}

/************************************************************************************
PAGE NAVIGATION
*************************************************************************************/
.pagenav a:hover {
	background-color: #000;
}
