/*  
Skin Name: Red
Version: 1.0
Description: Skin for Funki
*/

body {
	background-color: #ae0004;
}
a {
	color: #ad0000;
}
h1, h2, h3, h4, h5, h6 {
	color: #ff0000;
}
input[type=reset], input[type=submit] {
	background-color: #ff0000;
}
input[type=reset]:hover, input[type=submit]:hover {
	background-color: #ad0000;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
	border-color: #ff0000;
}

/************************************************************************************
SLIDER
*************************************************************************************/
#slider {
	border-color: #ff0000;
}
.slider-nav a {
	background-color: #ff0000;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	border-color: #ff0000;
}

/* site logo */
#site-logo a {
	color: #ff0000;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
/* main level link */
#main-nav a {
	color: #ff0000;
}
/* main level link :hover */
#main-nav a:hover, #main-nav li:hover > a {
	background-color: #ff0000;
	color: #fff;
}

/* current link */
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	background-color: #ff0000;
}

/* dropdown ul */
#main-nav ul {
	border-color: #ff0000;
}

/* sub-levels link :hover */
#main-nav ul a:hover, #main-nav .current_page_item ul a:hover, #main-nav ul .current_page_item a:hover, #main-nav .current-menu-item ul a:hover, #main-nav ul .current-menu-item a:hover, #main-nav li:hover > ul a:hover {
	background-color: #ff0000;
}

/************************************************************************************
CONTENT
*************************************************************************************/
/* post title */
.post-title, .post-title a {
	color: #ff0000;
}
.post-title a:hover {
	color: #ad0000;
}

/* post date */
.post-date {
	background-color: #ff0000;
}
.post-date:after {
	border-left-color: #ff0000 !important;
}

/* more link */
.more-link {
	background-color: #ff0000;
}
.more-link:hover {
	background-color: #ad0000;
}

/************************************************************************************
COMMENTS
*************************************************************************************/
.commentwrap {
	border-color: #ff0000;
}
.commentlist .comment-reply-link {
	background-color: #ff0000;
}
.commentlist .comment-reply-link:hover {
	background-color: #ad0000;
}

/************************************************************************************
POST NAVIGATION
*************************************************************************************/
.post-nav .prev span, .post-nav .next span {
	background-color: #ff0000;
}

/************************************************************************************
PAGE NAVIGATION
*************************************************************************************/
.pagenav a {
	background-color: #ff0000;
	color: #fff;
}
.pagenav a:hover {
	background-color: #ad0000;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
.widgettitle {
	background-color: #ff0000;
}

/************************************************************************************
Footer
*************************************************************************************/
#footer {
	background-color: #ff0000;
	color: #ffdfdf;
}
#footer a {
	color: #fffabb;
}
#footer .widget li {
	border-color: #de1818;
}