/*  
Skin Name: Page
Version: 1.0
Description: Skin for Blogfolio theme.
Author: Themify.me
*/

a {
	color: #000;
	text-decoration: underline;
}
a:hover {
	color: #000;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	text-shadow: none;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
	color: #333;
	text-decoration: underline;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	text-decoration: none;
	color: #000;
}
input[type=text], input[type=password], textarea {
	background: #fff;
	border-color: #ccc;
	color: #999;
	box-shadow: none;
	border-radius: 0;
}
textarea:focus, input[type=password]:focus, input[type=text]:focus {
	border-color: #666;
	color: #333;
}
input[type=reset], input[type=submit] {
	background: #333;
	color: #ccc;
	box-shadow: none;
	border-radius: 0;
}
input[type=reset]:hover, input[type=submit]:hover {
	background: #000;
	color: #fff;
}

/* structure */

/* pagewrap */
#pagewrap {
	width: 1014px;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
}

/* header */
#header {
	border: none;
	padding: 0 30px;
	background: #000;
	height: 200px;
}
#site-logo {
	left: 40px;
}
#site-logo a {
	color: #fff;
	text-shadow: none;
}
#site-description {
	color: #999;
	left: 40px;
	top: 140px;
}
#header .socialmedia {
	right: 20px;
}
#header .socialmedia a {
	color: #999;
}
#header .socialmedia a:hover {
	color: #fff;
}
/* middlewrap */
#middlewrap {
	padding: 35px 30px;
	background: #fff;
}
/* message message */
#welcome-message {
	color: #999;
}
#welcome-message a {
	color: #000;
}
/* slider */
#slider .slides img {
	background: #fff;
	border: solid 1px #e1e1e1;
	box-shadow: none;
	border-radius:0;
}
#slider .slides .details {
	border-radius: 0;
}

/* menu */
#main-nav {
	right: 20px;
	bottom: 0;
}
#main-nav a {
	color: #999;
	padding: 10px 20px 15px;
	text-shadow: none;
}
#main-nav a:hover {
	color: #fff;
}
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	background: #fff;
	color: #000;
	border-radius:0;
}
#main-nav .current_page_item a:hover, #main-nav .current-menu-item a:hover {
	color: #000;
}
#main-nav ul {
	border: solid 1px #ccc;
	left: 9px;
	box-shadow: none;
	border-radius: 0;
}
#main-nav ul li a {
	text-shadow: none;
	color: #333;
	padding: 8px 20px;
}
#main-nav ul a:hover {
	color: #333;
}
#main-nav .rss a {
	background-position: left 8px;
	margin-left: 20px;
}
/* content area */
.post-title a {
	color: #333;
	text-decoration: none;
}
.post-title a:hover {
	color: #000;
}
.post-date {
	color: #999;
}
.post-meta a {
	color: #666;
}
.post-meta a:hover {
	color: #000;
}
.gridview a {
	color: #444;
}
.gridview .excerpt {
	color: #888;
}
.next-prev-post a {
	color: #666;
}
.next-prev-post a:hover {
	color: #000;
}
/* comments */
.commentwrap {
	border-top: solid 1px #ccc;
}
.commentlist li {
	border-top: solid 1px #ccc;
}
.commentlist .avatar {
	background: #fff;
	border: solid 1px #e1e1e1;
	box-shadow: none;
	border-radius: 0;
}
.commentlist .comment-reply-link {
	background: none;
	color: #666;
	border-radius: 0;
}
.commentlist .comment-reply-link:hover {
	background: #e1e1e1;
	color: #000;
}
.commentlist cite {
	color: #333;
}
#respond {
	border-top: solid 1px #ccc;
}
#respond .cancel-comment-reply a {
	background: #333;
	color: #ccc;
	border-radius: 0;
}
#respond .cancel-comment-reply a:hover {
	color: #fff;
	background: #000;
}
/* img-style */
img.alignleft, img.aligncenter, img.alignright, img.alignnone, .wp-caption img,
.widget .feature-posts-list .post-img,
.widget .flickr_badge_image img,
.commentlist .avatar,
.recent-comments-list .avatar,
#middlewrap .gallery img,
.attachment img,
.post-image img,
.img-style
{
	background: #fff;
	border: solid 1px #e1e1e1;
	box-shadow: none;
	border-radius: 0;
}
/* showcase */
.showcase-nav img {
	background: #fff;
	border: solid 1px #e1e1e1;
	box-shadow: none;
	border-radius: 0;
}
.showcase-nav .activeSlide img {
	border: solid 1px #666;
}
/* sidebar */
#sidebar h4, .widgettitle {
	color: #333;
}
#sidebar h4 a, .widgettitle a {
	color: #000;
	text-decoration: none;
}
.widget ul a {
	color: #333;
	text-decoration: none;
}
.widget ul a:hover {
	color: #000;
	text-decoration: underline;
}
.widget .recent-comments .avatar {
	background: #fff;
	border: solid 1px #e1e1e1;
	box-shadow: none;
	border-radius: 0;
}
/* footer */
#footer {
	border: none;
	padding: 20px 30px;
	background: #000;
	color: #777;
}
#footser h4, #footer .widgettitle {
	color: #fff;
}
#footer a {
	color: #999;
}
.footer-text {
	color: #666;
}
/* captions */
img.alignleft, img.aligncenter, img.alignright, img.alignnone {
	background: #fff;
	padding: 4px;
	border: solid 1px #e1e1e1;
	box-shadow: none;
	border-radius: 0;
}
.alignleft {
	float: left;
	margin-right: 30px;
}
.alignright {
	float: right;
	margin-left: 30px;
}
.aligncenter {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption {
	text-align: center;
	background: #fff;
	padding: 4px 2px 2px 0;
	border: solid 1px #e1e1e1;
	box-shadow: none;
	border-radius: 0;
}
